html,
body {
  background: #f4f4f4;
  color: #444;
  font-size: 12px;
  height: 100%;
}

#container {
  margin: 0 auto;
  overflow: auto;
  width: 1000px;
}

#header {
  margin-bottom: 20px;
  padding: 30px 0;
  text-shadow: 0 1px 0 white;
}

 #header .creds {
   color: #BBBBBB;
   margin-left: 5px;
 }

 #header img {
   display: inline;
   height: 160px;
   margin-right: 10px;
   vertical-align: middle;
   width: 160px;
 }

 #header h1 {
   display: inline;
   font-size: 14px;
   font-weight: bold;
   letter-spacing: 0px;
   text-transform: uppercase;
 }

 #networks {
  float: right;
  padding-top: 10px;
 }

   #networks .icon {
     -webkit-transition: all 0.5s ease;
     height: 32px;
     margin-right: 10px;
     transition: all 1s ease;
     vertical-align: middle;
     width: 32px;
     opacity: 0.5;
   }

   #networks .icon:hover {  opacity: 1; }

.callout {
  display: inline-block;
  padding: 20px;
  position: relative;
  height: 150px;
  text-align: center;
}
