@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
  font-family: 'Lato', 'Helvetica';
  background: url(../images/background_image.png) bottom;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  font-size: 12px;
}

#container {
  margin: 0 auto;
  width: 100%;
  position: fixed;
  top: 10%;
}

 #container img {
   display: inline;
   height: 160px;
   margin-right: 20px;
   vertical-align: middle;
   width: 160px;
   margin-left: 20px;
 }

 #container h1 {
   display: inline-block;
   font-size: 30px;
   font-weight: bold;
   letter-spacing: 0px;
   text-transform: uppercase;
   vertical-align: middle;
   line-height: 48px;
   margin-left: 20px;
 }

 #container .creds {
   display: block;
   text-indent: 1px;
   font-size: 18px;
   font-weight: normal;
   line-height: 28px;
   text-transform: none;
 }

 #networks {
  padding-top: 10px;
 }

   #networks .icon {
     -webkit-transition: all 0.5s ease;
     height: 32px;
     margin-right: 10px;
     transition: all 1s ease;
     vertical-align: middle;
     width: 32px;
     opacity: 0.5;
   }

   #networks .icon:hover {  opacity: 1; }

.callout {
  display: inline-block;
  padding: 20px;
  position: relative;
  height: 150px;
  text-align: center;
}

@media only screen and (min-width: 794px) {
    #container {
      top: 30%;
      left: 10%;
    }

    #networks {
      padding: 10px 0px 0px 200px;
    }
  }
