html,
body {
  background: #f4f4f4;
  color: #444;
  font-size: 12px;
  height: 100%;
}

#wrap {  min-height: 100% }

#container {
  margin: 0 auto;
  overflow: auto;
  padding-bottom: 150px;
  text-align: center;
  width: 1000px;
}

#header {
  margin-bottom: 20px;
  padding: 30px 0;
  text-shadow: 0 1px 0 white;
}

 #header .creds {
   color: #BBBBBB;
   margin-left: 5px;
 }

 #header img {
   display: inline;
   height: 96px;
   margin-right: 10px;
   vertical-align: middle;
   width: 96px;
 }

 #header h1 {
   display: inline;
   font-size: 14px;
   font-weight: bold;
   letter-spacing: 0px;
   text-transform: uppercase;
 }

 #networks {
  float: right;
  padding-top: 10px;
 }

   #networks .icon {
     -webkit-transition: all 1s ease;
     height: 32px;
     margin-right: 10px;
     transition: all 1s ease;
     vertical-align: middle;
     width: 32px;
   }

   #networks .icon:hover {  -webkit-transform: rotate(360deg) }

.viewport {
  border: 1px solid #ddd;
  display: inline-block;
  margin: 0 9px;
  overflow: hidden;
  padding: 50px 0;
  position: relative;
  width: 220px;
}

 .viewport span {
   display: none;
   font-size: 2em;
   font-weight: bold;
   height: 100%;
   padding-top: 80px;
   position: absolute;
   text-align: center;
   text-decoration: none;
   width: 100%;
   z-index: 100;
 }

  .viewport span em {
    display: block;
    font-size: 0.45em;
    font-weight: normal;
  }

.light-background {
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  margin-top: -50px;
  text-shadow: #fff 0px 0px 20px;
}

 .light-background em {  color: #707070 }

#footer {
  clear: both;
  height: 90px;
  margin-top: -150px;
  overflow: auto;
  padding: 30px 0;
  position: relative;
  width: 100%;
}

 #footer h2 {
   font-size: 16px;
   font-weight: normal;
 }
