body {
  background: #3d382f url("kitchen1.png") no-repeat;
  background-size: cover;
  color: white;
  font-family: Arial;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

#top-bar {
  background: white;
  color: #231f20;
  padding: 15px 15px 0px 15px;
  height: 85px;
  width: 1000px;
}

#logo {
  display: inline-block;
  height: 70px;
  width: 241px;
}

ul#navigation {
  display: inline-block;
  list-style-type: none;
  margin-left: 50px;
  padding-bottom: 25px;
}

ul#navigation li {
  float: left;
  margin-right: 25px;
}

ul#navigation li a {
  -webkit-transition: all .5s ease;
  color: #231f20;
  font-size: .9em;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .5s ease;
}

ul#navigation li a:hover {
  border-bottom: 3px solid grey;
}

#top-right-icons {
  float: right;
}

#callout {
  background: rgba(0,0,0,0.7);
  color: white;
  display: inline-block;
  font-size: 2em;
  line-height: 2em;
  margin: 100px 0 0 200px;
  padding: 20px;
}

#bottom-bar {
  background: rgba(0,0,0,0.7);
  color: white;
  display: inline-block;
  font-size: .8em;
  padding: 12px 0 8px 0;
  position: absolute;
    bottom: 0;
    left: 0;
  text-indent: 20px;
  width: 100%;
}

#bottom-icons {
  float: right;
  margin-right: 20px;
}

#bottom-icons img {
  margin-left: 10px;
}
