@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
body {
  height: 100%;
}

#__next {
  height: 100%;
}

.wrapper {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

main {
  min-height: 100%;
  flex: 1 0 auto;
}

section[data-post] {
  h2 {
    @apply text-xl mt-6 font-semibold;
  }

  h3 {
    @apply text-lg mt-6 font-semibold;
  }

  p,
  ul {
    @apply my-4 text-white/75 leading-relaxed;
  }

  ul {
    @apply list-disc list-inside;
  }

  blockquote {
    @apply px-4 border-l-2 border-white italic;
  }

  a {
    @apply underline decoration-2 decoration-cyan-500/70 underline-offset-2;
  }
}
