<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/css/normalize.css" type="text/css" />
  <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/css/pygments.css" type="text/css" />
  <meta name="google-site-verification" content="jseS7PcX_5uV8yX85shkIvBucHhXfYrCG5qXBk1rLOM" />
  <meta name="viewport" content="width=device-width" />
</head>
<body>
  <div id="container">
      <img src="/images/me_picture.png" title="" />
      <h1>
        Bryce Kalow
        <span class="creds">Aspiring web developer<br/>Computer Science student at the University of Minnesota (Class of 2016)</span>
      </h1>
      <div id="networks">
        <a href="http://twitter.com/brkalow" target="_blank"><img src="/images/twitter_icon_g.png" title="" class="icon" /></a>
        <a href="http://github.com/brkalow" target="_blank"><img src="/images/github_icon_g.png" title="" class="icon" /></a>
        <a href="http://www.linkedin.com/pub/bryce-kalow/83/571/86a" target="_blank"><img src="/images/linkedin_icon_g.png" title="" class="icon" /></a>
        <a href="http://stackoverflow.com/users/1419354/bk22" target="_blank"><img src="/images/stacko_icon_g.png" title="" class="icon" /></a>
        <a href="https://plus.google.com/u/1/108179904460713470287/posts" target="_blank"><img src="/images/google_icon_g.png" title="" class="icon" /></a>
      </div>
    {{ content }}

  </div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
</body>
</html>
