<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/css/normalize.css" type="text/css" />
  <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/css/pygments.css" type="text/css" />
  <meta name="google-site-verification" content="jseS7PcX_5uV8yX85shkIvBucHhXfYrCG5qXBk1rLOM" />
</head>
<body>
  <div class="container">
    <div class="header">
      <img src="/images/me_picture.png" title="" />
      <h1>Bryce Kalow</h1>
      <span class="creds">web developer</span>
    </div>
    {{ content }}

  </div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.viewport').mouseenter(function(e) {
            $(this).children('span').fadeIn(200);
        }).mouseleave(function(e) {
            $(this).children('span').fadeOut(200);
        });
    });
    </script>
</body>
</html>
