figure {
  @apply my-5;
}

[data-rehype-pretty-code-figure],
[data-solid-bg] {
  @apply relative after:bg-white dark:after:bg-black after:absolute after:inset-0 after:-z-10;
}

pre[data-language] {
  @apply border rounded-lg border-black/25 bg-gray-50 dark:border-white/25 dark:bg-gray-500/5 text-sm;
}

pre > code {
  @apply grid max-w-full overflow-x-auto py-2 px-3;

  tab-size: 2;
}

code:not([data-theme]) {
  @apply p-0.5 border rounded border-black/25 bg-gray-50 dark:border-white/25 dark:bg-gray-500/5;
}

pre > code .line {
  line-height: 1.25;
}

.dark pre[data-theme="light"],
.dark code[data-theme="light"] {
  display: none;
}

.light pre[data-theme="dark"],
.light code[data-theme="dark"] {
  display: none;
}

code[data-theme*=" "],
code[data-theme*=" "] span {
  color: var(--shiki-light);
}

@media (prefers-color-scheme: dark) {
  code[data-theme*=" "],
  code[data-theme*=" "] span {
    color: var(--shiki-dark);
  }
}
