figure {
  @apply my-4;
}

pre[data-language] {
  @apply border rounded-lg border-white/25 bg-gray-500/5;
}

pre > code {
  display: grid;
  padding: 1rem 1.4rem;
  max-width: 100%;
  overflow-x: auto;
  tab-size: 2;
}

code:not([data-theme]) {
  @apply px-0.5 border rounded border-white/25 bg-gray-500/5;
}

pre > code .line {
  line-height: 1.25;
}

.dark pre[data-theme="light"],
.dark code[data-theme="light"] {
  display: none;
}

.initial pre[data-theme="dark"],
.initial code[data-theme="dark"] {
  display: none;
}

code[data-theme*=" "],
code[data-theme*=" "] span {
  color: var(--shiki-light);
}

@media (prefers-color-scheme: dark) {
  code[data-theme*=" "],
  code[data-theme*=" "] span {
    color: var(--shiki-dark);
  }
}
