pre > code {
  display: grid;
  padding: 1rem 1.4rem;
  max-width: 100%;
  overflow-x: auto;
  tab-size: 2;
}

code {
  background: var(--code-bg-color);
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
}

pre > code .line {
  line-height: 1.55;
}

.dark pre[data-theme="light"],
.dark code[data-theme="light"] {
  display: none;
}

.initial pre[data-theme="dark"],
.initial code[data-theme="dark"] {
  display: none;
}
